<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Cards</title>
    <link rel="stylesheet" href="../../styles/documentation.css">
    <link rel="stylesheet" href="card.css">
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script src="https://kit.fontawesome.com/bf13f25644.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="pagewrapper">

        <!-- HEADER NAVIGATION -->
        <nav class="nav-container">
            <div class="brand">
               
                <a href="../../index.html"  class="brand-name nav-item">OTG UI</a>
            </div> 
            <ul>
                <li class="nav-item nav-icon ">
                    <a href="https://github.com/inductionotg" target="_blank">
                        <i class="fa fa-github nav-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item nav-icon ">
                    <a href="https://twitter.com/riteshs57563347" target="_blank">
                        <i class="fa fa-twitter nav-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item nav-icon">
                    <a href="https://www.linkedin.com/in/ritesh-sinha-25822a146/" target="_blank">
                        <i class="fa fa-linkedin nav-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item nav-icon"></li>
                    <i class="hamburger fa fa-bars fa-lg" aria-hidden="true"></i>
                </li>
            </ul>
        </nav>

        <!-- SIDEBAR AND HERO SECTION -->
        <div class="sidebar-and-content">

            <!-- SIDEBAR -->
            <aside class="sidebar default-shadow">
                <ul>
                    <li class="sidenav-list">
                        <a href="../../Documentation/documentation.html" class="sidenav-item">Installation</a>
                    </li>
                    <h2 class="sidebar-heading">Components</h2>
                    <li class="sidenav-list">
                        <a href="../../components/alert/alert.html" class="sidenav-item">Alerts</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/avatar/avatar.html" class="sidenav-item">Avatars</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/badge/badge.html" class="sidenav-item">Badges</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/button/button.html" class="sidenav-item">Buttons</a>
                    </li>
                    <li class="sidenav-list active">
                        <a href="../../components/card/card.html" class="sidenav-item active">Cards</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/chips/chips.html" class="sidenav-item">Chips</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/image/image.html" class="sidenav-item">Image</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/input/input.html" class="sidenav-item">Input</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/lists/lists.html" class="sidenav-item">Lists</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/modal/modal.html" class="sidenav-item">Modal</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/navigation/navigation.html" class="sidenav-item">Navigation</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/rating/rating.html" class="sidenav-item">Rating</a>
                    </li>
                </ul>
            </aside>

            <!-- HERO SECTION -->
            <div class="content-container">
                <div class="content">
                    <h3 class="heading3">Cards</h3>
                    <h4 class="heading4">Default Cards</h4>
                </div>
                  
                <div class="display-component">
                    <div class="card-container flex-row-center">
                        <div class="card card-default">
                            <div class="card-img ">
                                <img src="../../images/card.png" class="img-responsive" alt="cake">
                            </div>
                            <div class="card-header">
                                Avatar
                            </div>
                            <div class="card-title">
                               Default Card
                            </div>
                            <div class="card-content">
                                Lorem ipsum, dolor sit Lorem, ipsum dolor sit amet consectetur 
                            </div>
                            <div class="card-buttons">
                                <span class="card-button">ADD TO CART</span>
                                <i class="card-icon fa fa-heart-o fa-lg"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="code-snippet">
                    <pre>
                        <code class="language-html highlight-code" >
                            &lt;div class="card card-default"&gt
                                &lt;div class="card-img "&gt
                                    &lt;img src="../../images/card.png" class="img-responsive" alt="cake"&gt
                                &lt;/div&gt
                                &lt;div class="card-header"&gt
                                    Avatar
                                &lt;/div&gt
                                &lt;div class="card-title"&gt
                                   Default Card
                                &lt;/div&gt
                                &lt;div class="card-content"&gt
                                    Lorem ipsum, dolor sit Lorem, ipsum dolor sit amet consectetur 
                                    &lt;/div&gt
                                &lt;div class="card-buttons"&gt
                                    &lt;span class="card-button"&gtADD TO CART&lt;/span&gt
                                    &lt;i class="card-icon fa fa-heart-o fa-lg"&gt&lt;/i&gt
                                &lt;/div&gt
                            &lt;/div&gt
                        </code>
                    </pre>
                </div>  
                <div class="content">
                    <h4 class="heading4">Heading top Cards</h4>
                </div>
                <div class="display-component">
                        <div class="card-container flex-row-center">
                            <div class="card card-heading-top">
                                <div class="card-img">
                                    <img src="../../images/card.png" alt="cake">
                                </div>
                                <div class="card-header">
                                    Avatar
                                </div>
                                <div class="card-title">
                                    Heading Top
                                </div>
                                <div class="card-content">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit
                                </div>
                                <div class="card-buttons">
                                    <span class="card-button">ADD TO CART</span>
                                    <i class="card-icon fa fa-heart-o fa-lg"></i>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="code-snippet">
                    <pre>
                        <code class="language-html highlight-code" >
                            &lt;div class="card card-heading-top"&gt
                                &lt;div class="card-img "&gt
                                    &lt;img src="../../images/card.png" class="img-responsive" alt="cake"&gt
                                &lt;/div&gt
                                &lt;div class="card-header"&gt
                                    Avatar
                                &lt;/div&gt
                                &lt;div class="card-title"&gt
                                   Default Card
                                &lt;/div&gt
                                &lt;div class="card-content"&gt
                                    Lorem ipsum, dolor sit Lorem, ipsum dolor sit amet consectetur 
                                    &lt;/div&gt
                                &lt;div class="card-buttons"&gt
                                    &lt;span class="card-button"&gtADD TO CART&lt;/span&gt
                                    &lt;i class="card-icon fa fa-heart-o fa-lg"&gt&lt;/i&gt
                                &lt;/div&gt
                            &lt;/div&gt
                        </code>
                    </pre>
                </div>            
                
                <div class="content">
                    <h4 class="heading4">Card Text Overlay</h4>
                </div>
                <div class="display-component">
                        <div class="card-container flex-row-center">
                            <div class="card card-text-overlay">    
                                <div class="card-img">
                                    <img src="../../images/card.png" alt="cake">
                                </div>
                                <img class="btn-close" src="../../images/close-button.svg" alt="Close Button">
                                <div class="card-header">
                                   Running out
                                </div>
                                <div class="card-content">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio enim
                                </div>
                                <div class="card-buttons">
                                    <span class="card-button">ADD TO CART</span>
                                    <i class="card-icon fa fa-heart-o fa-lg"></i>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="code-snippet">
                    <pre>
                        <code class="language-html highlight-code" >
                            &lt;div class="card card-text-overlay"&gt
                                &lt;div class="card-img "&gt
                                    &lt;img src="../../images/card.png" class="img-responsive" alt="cake"&gt
                                &lt;/div&gt
                                &lt;img class="btn-close" src="../../images/close-button.svg" alt="Close Button"&gt
                                &lt;div class="card-header"&gt
                                    Avatar
                                &lt;/div&gt
                                &lt;div class="card-title"&gt
                                   Default Card
                                &lt;/div&gt
                                &lt;div class="card-content"&gt
                                    Lorem ipsum, dolor sit Lorem, ipsum dolor sit amet consectetur 
                                    &lt;/div&gt
                                &lt;div class="card-buttons"&gt
                                    &lt;span class="card-button"&gtADD TO CART&lt;/span&gt
                                    &lt;i class="card-icon fa fa-heart-o fa-lg"&gt&lt;/i&gt
                                &lt;/div&gt
                            &lt;/div&gt
                        </code>
                    </pre>
                </div>            
                <div class="content">
                    <h4 class="heading4">Card Horizontal</h4>
                </div>
                <div class="display-component">
                    <div class="card-container flex-row-center">
                
                        <div class="card card-horizontal">
                            <img class="btn-close" src="../../images/close-button.svg" alt="Close Button">
                            <div class="card-image-content">
                                <div class="card-img">
                                    <img src="../../images/card.png" alt="cake">
                                </div>
                                <div class="card-horizontal-title">
                                    <div class="card-header">
                                        Avatar
                                    </div>
                                    <div class="card-title">
                                       Horizontal Card
                                    </div>
                                </div>
                            </div>
                            <div class="card-content">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio enim optio
                            </div>
                            <div class="card-buttons">
                                <span class="card-button">ADD TO CART</span>
                                <i class="card-icon fa fa-heart-o fa-lg"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="code-snippet">
                    <pre>
                        <code class="language-html highlight-code" >
                            &lt;div class="card card-horizontal"&gt
                                &lt;img class="btn-close" src="../../images/close-button.svg" alt="Close Button"&gt
                                &lt;div class="card-image-content"&gt
                                    &lt;div class="card-img"&gt
                                        &lt;img src="../../images/card.png" alt="cake"&gt
                                    &lt;/div&gt
                                    &lt;div class="card-horizontal-title"&gt
                                        &lt;div class="card-header"&gt
                                            Avatar
                                        &lt;/div&gt
                                        &lt;div class="card-title"&gt
                                           Horizontal Card
                                        &lt;/div&gt
                                    &lt;/div&gt
                                &lt;/div&gt
                                &lt;div class="card-content"&gt
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio enim optio
                                &lt;/div&gt
                                &lt;div class="card-buttons"&gt
                                    &lt;span class="card-button"&gtADD TO CART&lt;/span&gt
                                    &lt;i class="card-icon fa fa-heart-o fa-lg"&gt&lt;/i&gt
                                &lt;/div&gt
                            &lt;/div&gt
                        </code>
                    </pre>
                </div>
                <div class="content">
                    <h4 class="heading4">Card Text Only</h4>
                </div>
                <div class="display-component">
                    <div class="card-container flex-row-center">
                        <div class="card card-text-only">
                            <img class="btn-close" src="../../images/close-button.svg" alt="Close Button">
                            <div class="card-header">
                                Avatar
                            </div>
                            <div class="card-title">
                                Card-Text
                            </div>
                            <div class="card-content">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio enim optio numquam eaque labore
                                perspiciatis Lorem ipsum dolor sit amet
                            </div>
                            <div class="card-buttons">
                                <span class="card-button">READ MORE</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="code-snippet">
                    <pre>
                        <code class="language-html highlight-code" >
                            &lt;div class="card card-text-only"&gt
                                &lt;img class="btn-close" src="../../images/close-button.svg" alt="Close Button"&gt
                                &lt;div class="card-header"&gt
                                    Avatar
                                &lt;/div&gt
                                &lt;div class="card-title"&gt
                                    Card-Text
                                &lt;/div&gt
                                &lt;div class="card-content"&gt
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio enim optio numquam eaque labore
                                    perspiciatis Lorem ipsum dolor sit amet
                                &lt;/div&gt
                                &lt;div class="card-buttons"&gt
                                    &lt;span class="card-button"&gtREAD MORE&lt;/span&gt
                                &lt;/div&gt
                            &lt;/div&gt
                        </code>
                    </pre>
                </div>

                <div class="content">
                    <h4 class="heading4">Card With Badges</h4>
                </div>
                <div class="display-component">
                    <div class="card-container flex-row-center">
                        <div class="card card-vertical card-vertical-default">
                            <div class="card-img">
                                <img src="../../images/card.png" alt="cake">
                            </div>
                            <span class="card-badge">Latest</span>
                            <div class="card-header">
                                Avatar
                            </div>
                            <div class="card-title">
                                Card With Badge
                            </div>
                            <div class="card-content">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet
                            </div>
                            <div class="card-buttons">
                                <span class="card-button">ADD TO CART</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="code-snippet">
                    <pre>
                        <code class="language-html highlight-code">
                            &lt;div class="card card-vertical card-vertical-default"&gt
                                &lt;div class="card-img"&gt
                                    &lt;img src="../../images/card.png" alt="cake"&gt
                                &lt;/div&gt
                                &lt;span class="card-badge"&gtLatest&lt;/span&gt
                                &lt;div class="card-header"&gt
                                    Cake
                                &lt;/div&gt
                                &lt;div class="card-title"&gt
                                    Card With Badge
                                &lt;/div&gt
                                &lt;div class="card-content"&gt
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet
                                &lt;/div&gt
                                &lt;div class="card-buttons"&gt
                                    &lt;span class="card-button"&gtADD TO CART&lt;/span&gt
                                &lt;/div&gt
                            &lt;/div&gt
                            
                        </code>
                    </pre>
                </div>
                
            </div>
        </div>

        <!-- FOOTER -->
        <footer class="footer-container flex-column-center">
            <p class="footer-header">
               
            </p>
            <ul>
                <li class="footer-item">
                    <a href="https://github.com/inductionotg" target="_blank">
                        <i class="fa fa-github footer-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="footer-item">
                    <a href="https://twitter.com/riteshs57563347" target="_blank">
                        <i class="fa fa-twitter footer-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="footer-item">
                    <a href="https://www.linkedin.com/in/ritesh-sinha-25822a146/" target="_blank">
                        <i class="fa fa-linkedin footer-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <p class="copyright">
            </p>
        </footer> 
    </div>
</body>

</html>