@import url('../../styles/var.css');
.input-container{
    align-items: flex-start;
    column-gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem;
    row-gap: 1rem;
}

.input-email, .input-primary{
    border-radius: 0.625rem;
    height: 2rem;
    outline: none;
    padding: 0rem 0.625rem;
    width: 40%;
}

.input-primary{
    border: 1px solid var(--default-color);
}



.input-primary:focus{
    border: 1px solid var(--primary-color);
}

pre code.highlight-code{
    padding:1.4rem 0;
    font-size: 1rem;
    width:100%;
    margin:auto;
    
}

@media only screen and (max-width : 480px){
     .input-primary{
        width: 90%;
    }
}
