<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTG UI</title>
    <link rel="stylesheet" href="../../styles/documentation.css">
    <link rel="stylesheet" href="avatar.css">
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script src="https://kit.fontawesome.com/bf13f25644.js" crossorigin="anonymous"></script>
    
</head>

<body>

    <div class="pagewrapper">

     
        <nav class="nav-container">
            <div class="brand">
                <a href="../../index.html"  class="brand-name nav-item">OTG UI</a>
            </div> 
            <ul>
                <li class="nav-item nav-icon ">
                    <a href="#" target="_blank">
                        <i class="fa fa-github nav-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item nav-icon ">
                    <a href="#" target="_blank">
                        <i class="fa fa-twitter nav-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item nav-icon">
                    <a href="#" target="_blank">
                        <i class="fa fa-linkedin nav-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item nav-icon"></li>
                    <i class="hamburger fa fa-bars fa-lg" aria-hidden="true"></i>
                </li>
            </ul>
        </nav>

        
        <div class="sidebar-and-content">

            <!-- SIDEBAR -->
            <aside class="sidebar default-shadow">
                <ul>
                    <li class="sidenav-list">
                        <a href="#" class="sidenav-item">Installation</a>
                    </li>
                    <h2 class="sidebar-heading">Components</h2>
                    <li class="sidenav-list">
                        <a href="../../components/alert/alert.html" class="sidenav-item">Alerts</a>
                    </li>
                    <li class="sidenav-list active">
                        <a href="../../components/avatar/avatar.html" class="sidenav-item active">Avatars</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/badge/badge.html" class="sidenav-item">Badges</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/button/button.html" class="sidenav-item">Buttons</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/card/card.html" class="sidenav-item">Cards</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/chips/chips.html" class="sidenav-item">Chips</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/image/image.html" class="sidenav-item">Image</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/input/input.html" class="sidenav-item">Input</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/lists/lists.html" class="sidenav-item">Lists</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/modal/modal.html" class="sidenav-item">Modal</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/navigation/navigation.html" class="sidenav-item">Navigation</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/rating/rating.html" class="sidenav-item">Rating</a>
                    </li>
                    
                </ul>
            </aside>

            <!-- HERO SECTION -->
            <div class="content-container">
                <div class="content">
                    <h3 class="heading3">Avatars</h3>
                    <p class="description">
                        Make Responsive Avatars.
                    </p>
                    <h4 class="heading4">Image Avatars</h4>
                    <p class="description">
                        Avatars are a BootstrapVue custom component, and are typically used to display a user profile as a picture, an icon, or short text
                    </p>
                </div>
                  
                <div class="display-component">
                    <div class="avatar-container">
                        <img class="img-fit avatar avatar-lg" src="../../images/avatar-1.png" alt="avatar">
                        <img class="img-fit avatar avatar-md" src="../../images/avatar-1.png" alt="avatar">
                        <img class="img-fit avatar avatar-sm" src="../../images/avatar-1.png" alt="avatar">
                        <img class="img-fit avatar avatar-xs" src="../../images/avatar-1.png" alt="avatar">
                    </div>
                </div>

                <div class="code-snippet">
                	<pre>
                	<code class="language-html">
                	    &lt;img class="img-fit avatar avatar-lg" src="avatar.jpg" alt="avatar"&gt
        			    &lt;img class="img-fit avatar avatar-md" src="avatar.jpg" alt="avatar"&gt
        			    &lt;img class="img-fit avatar avatar-sm" src="avatar.jpg" alt="avatar" &gt
        			    &lt;img class="img-fit avatar avatar-xs" src="avatar.jpg" alt="avatar" &gt

                	</code>
                	</pre>
                    </script>
                </div>
            </div>
        </div>

        
        <footer class="footer-container flex-column-center">
            <p class="footer-header">
                
            </p>
            <ul>
                <li class="footer-item">
                    <a href="#" target="_blank">
                        <i class="fa fa-github footer-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="footer-item">
                    <a href="#" target="_blank">
                        <i class="fa fa-twitter footer-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="footer-item">
                    <a href="#" target="_blank">
                        <i class="fa fa-linkedin footer-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <p class="copywright">
                
            </p>
        </footer>
    </div>

</body>

</html>