<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chips</title>
    <link rel="stylesheet" href="../../styles/documentation.css">
    <link rel="stylesheet" href="chips.css">
    <link rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
  <script src="https://kit.fontawesome.com/bf13f25644.js" crossorigin="anonymous"></script>
    
    
</head>
<body>
    <div class="pagewrapper">

        <!-- HEADER NAVIGATION -->
        <nav class="nav-container">
            <div class="brand">
                <a href="../../index.html"  class="brand-name nav-item">OTG UI</a>
            </div> 
            <ul>
                <li class="nav-item nav-icon ">
                    <a href="https://github.com/inductionotg" target="_blank">
                        <i class="fa fa-github nav-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item nav-icon ">
                    <a href="https://twitter.com/riteshs57563347" target="_blank">
                        <i class="fa fa-twitter nav-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item nav-icon">
                    <a href="https://www.linkedin.com/in/ritesh-sinha-25822a146/" target="_blank">
                        <i class="fa fa-linkedin nav-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item nav-icon"></li>
                    <i class="hamburger fa fa-bars fa-lg" aria-hidden="true"></i>
                </li>
            </ul>
        </nav>

        <!-- SIDEBAR AND HERO SECTION -->
        <div class="sidebar-and-content">

            <!-- SIDEBAR -->
            <aside class="sidebar default-shadow">
                <ul>
                    <li class="sidenav-list">
                        <a href="../../Installation/installation.html" class="sidenav-item">Installation</a>
                    </li>
                    <h2 class="sidebar-heading">Components</h2>
                    <li class="sidenav-list">
                        <a href="../../components/alert/alert.html" class="sidenav-item">Alerts</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/avatar/avatar.html" class="sidenav-item">Avatars</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/badge/badge.html" class="sidenav-item">Badges</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/button/button.html" class="sidenav-item">Buttons</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/card/card.html" class="sidenav-item">Cards</a>
                    </li>
                    <li class="sidenav-list active">
                        <a href="../../components/chips/chips.html" class="sidenav-item active">Chips</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/image/image.html" class="sidenav-item">Image</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/input/input.html" class="sidenav-item">Input</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/lists/lists.html" class="sidenav-item">Lists</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/modal/modal.html" class="sidenav-item">Modal</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/navigation/navigation.html" class="sidenav-item">Navigation</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/rating/rating.html" class="sidenav-item">Rating</a>
                    </li>
                </ul>
            </aside>

            
            <div class="content-container">
                <div class="content">
                    <h3 class="heading3">Chips</h3>
                    <p class="description">
                        Chips are compact elements that represent an input, attribute, or action.
                    </p>
                </div>
                  
                <div class="display-component flex-row-center">
                    <span class="chip">
                        Laptop
                    </span>
                    <span class="chip">
                        Pizza
                    </span>
                    <span class="chip">
                        Desktop
                    </span>
                    <span class="chip">
                        Mouse
                    </span>
                </div>

                <div class="code-snippet">
                    <pre>
                        <code class="language-html">
                            &lt;span class="chip"&gt
                                Laptop
                            &lt;/span&gt
                            &lt;span class="chip"&gt
                                Pizza
                            &lt;/span&gt
                            &lt;span class="chip"&gt
                                Desktop
                            &lt;/span&gt
                            &lt;span class="chip"&gt
                                Mouse
                            &lt;/span&gt
                        </code>
                    </pre>
                    
                </div>            
            </div>
        </div>

        <!-- FOOTER -->
        <footer class="footer-container flex-column-center">
            <p class="footer-header">
            </p>
            <ul>
                <li class="footer-item">
                    <a href="https://github.com/inductionotg" target="_blank">
                        <i class="fa fa-github footer-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="footer-item">
                    <a href="https://twitter.com/riteshs57563347" target="_blank">
                        <i class="fa fa-twitter footer-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="footer-item">
                    <a href="https://www.linkedin.com/in/ritesh-sinha-25822a146/" target="_blank">
                        <i class="fa fa-linkedin footer-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </footer>
    </div>
  
</body>

</html>