<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Lists</title>
    <link rel="stylesheet" href="../../styles/documentation.css">
    <link rel="stylesheet" href="lists.css">
    
</head>
<body>
    <div class="pagewrapper">

        <!-- HEADER NAVIGATION -->
        <nav class="nav-container">
            <div class="brand">
               
                <a href="../../index.html"  class="brand-name nav-item">OTG UI</a>
            </div> 
            <ul>
                <li class="nav-item nav-icon ">
                    <a href="#" target="_blank">
                        <i class="fa fa-github nav-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item nav-icon ">
                    <a href="#" target="_blank">
                        <i class="fa fa-twitter nav-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item nav-icon">
                    <a href="#" target="_blank">
                        <i class="fa fa-linkedin nav-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item nav-icon"></li>
                    <i class="hamburger fa fa-bars fa-lg" aria-hidden="true"></i>
                </li>
            </ul>
        </nav>

        <!-- SIDEBAR AND HERO SECTION -->
        <div class="sidebar-and-content">

            <!-- SIDEBAR -->
            <aside class="sidebar default-shadow">
                <ul>
                    <li class="sidenav-list">
                        <a href="../../Documentation/documentation.html" class="sidenav-item">Installation</a>
                    </li>
                    <h2 class="sidebar-heading">Components</h2>
                    <li class="sidenav-list">
                        <a href="../../Components/alert/alert.html" class="sidenav-item">Alerts</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/avatar/avatar.html" class="sidenav-item">Avatars</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/badge/badge.html" class="sidenav-item">Badges</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/button/button.html" class="sidenav-item">Buttons</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/card/card.html" class="sidenav-item">Cards</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/chips/chips.html" class="sidenav-item">Chips</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/image/image.html" class="sidenav-item">Image</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/input/input.html" class="sidenav-item">Input</a>
                    </li>
                    <li class="sidenav-list active">
                        <a href="../../Components/lists/lists.html" class="sidenav-item active">Lists</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/modal/modal.html" class="sidenav-item">Modal</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/navigation/navigation.html" class="sidenav-item">Navigation</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/rating/rating.html" class="sidenav-item">Rating</a>
                    </li>
                    
                </ul>
            </aside>

            <!-- HERO SECTION -->
            <div class="content-container">
                <div class="content">
                    <h3 class="heading3">Lists</h3>
                    <h4 class="heading4">Unordered Lists</h4>
                </div>
                  
                <div class="display-component">
                    <div class="list-container flex-row-center">
                       <ul>
                           <li>Pen1</li>
                           <li>Pen1</li>
                           <li>Pen1</li>
                       </ul>

                       <ul class="ulist-style-square">
                            <li>Pen1</li>
                            <li>Pen1</li>
                            <li>Pen1</li>
                        </ul>

                        <ul class="ulist-style-circle">
                            <li>Pen1</li>
                            <li>Pen1</li>
                            <li>Pen1</li>
                        </ul>

                    </div>
                </div>

                <div class="code-snippet">
                    <pre>
                        <code class="language-html highlight-code">
                            &lt;ul&gt
                                &lt;li&gtPen1&lt;/li&gt
                                &lt;li&gtPen1&lt;/li&gt
                                &lt;li&gtPen1&lt;/li&gt
                            &lt;/ul&gt
     
                            &lt;ul class="ulist-style-square"&gt
                                &lt;li&gtPen1&lt;/li&gt
                                &lt;li&gtPen1&lt;/li&gt
                                &lt;li&gtPen1&lt;/li&gt
                            &lt;/ul&gt
     
                            &lt;ul class="ulist-style-circle">
                                &lt;li&gtPen1&lt;/li&gt
                                &lt;li&gtPen1&lt;/li&gt
                                &lt;li&gtPen1&lt;/li&gt
                            &lt;/ul&gt
                        </code>
                    </pre>
                </div>            
                
                <div class="content">
                    <h4 class="heading4">Ordered Lists</h4>
                </div>
                  
                <div class="display-component">
                    <div class="list-container flex-row-center">
                        <ol>
                            <li>Ol1</li>
                            <li>Ol12</li>
                            <li>Ol13</li>
                        </ol>
 
                        <ol class="olist-style-alphabets">
                             <li>Ol11</li>
                             <li>Ol12</li>
                             <li>Ol13</li>
                         </ol>
 
                    </div>
                </div>

                <div class="code-snippet">
                    <pre>
                        <code class="language-html highlight-code">
                            &lt;ol&gt
                                &lt;li&gtOl1&lt;/li&gt
                                &lt;li&gtOl12&lt;/li&gt
                                &lt;li&gtOl13&lt;/li&gt
                            &lt;/ol&gt
     
                            &lt;ol class="olist-style-alphabets"&gt
                                &lt;li&gtOl11&lt;/li&gt
                                &lt;li&gtOl12&lt;/li&gt
                                &lt;li&gtOl13&lt;/li&gt
                            &lt;/ol&gt

                        </code>
                    </pre>
                </div>     

                <div class="content">
                    <h4 class="heading4">Stacked Lists</h4>
                </div>
                  
                <div class="display-component">
                    <div class="list-container flex-row-center">
                        <ul class="ulist-style-none stack-list">
                            <li class="stack">
                                <h5>
                                    Grab the Ball
                                </h5>
                                <p>
                                    30% off
                                </p>
                            </li>
                            <li class="stack">
                                <h5>
                                    Grab the Bat
                                </h5>
                                <p>
                                    30% Off
                                </p>
                            </li>
                        </ul>
                     </div>
                </div>

                <div class="code-snippet">
                   <pre>
                       <code class="language-html highlight-code">
                            &lt;li class="stack"&gt
                                &lt;h5&gt
                                    Grab the Ball
                                &lt;/h5&gt
                                &lt;p&gt
                                    30% off
                                &lt;/p&gt
                            &lt;/li&gt
                            &lt;li class="stack"&gt
                                &lt;h5&gt
                                    Grab the Bat
                                &lt;/h5&gt
                                &lt;p&gt
                                    30% Off
                                &lt;/p&gt
                            &lt;/li&gt
                       </code>
                   </pre>
                </div>     
            </div>
        </div>

        <!-- FOOTER -->
        <footer class="footer-container flex-column-center">
            <p class="footer-header">
               
            </p>
            <ul>
                <li class="footer-item">
                    <a href="#" target="_blank">
                        <i class="fa fa-github footer-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="footer-item">
                    <a href="#" target="_blank">
                        <i class="fa fa-twitter footer-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="footer-item">
                    <a href="#" target="_blank">
                        <i class="fa fa-linkedin footer-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <p class="copywright">
                
            </p>
        </footer>
    </div>
  
</body>

</html>