<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
    <link rel="stylesheet" href="../../styles/documentation.css">
    <link rel="stylesheet" href="alert.css">
    <script src="https://kit.fontawesome.com/c89017add5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script src="https://kit.fontawesome.com/bf13f25644.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <div class="pagewrapper">

        <!-- HEADER NAVIGATION -->
        <nav class="nav-container">
            <div class="brand">
                
                <a href="../../index.html"  class="brand-name nav-item">OTG UI</a>
            </div> 
            <ul>
                <li class="nav-item nav-icon ">
                    <a href="#" target="_blank">
                        <i class="fa fa-github nav-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item nav-icon ">
                    <a href="#" target="_blank">
                        <i class="fa fa-twitter nav-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item nav-icon">
                    <a href="#" target="_blank">
                        <i class="fa fa-linkedin nav-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item nav-icon"></li>
                    <i class="hamburger fa fa-bars fa-lg" aria-hidden="true"></i>
                </li>
            </ul>
        </nav>

        <!-- SIDEBAR AND HERO SECTION -->
        <div class="sidebar-and-content">

            <!-- SIDEBAR -->
            <aside class="sidebar default-shadow">
                <ul>
                    <li class="sidenav-list">
                        <a href="../../Documentation/documentation.html" class="sidenav-item">Installation</a>
                    </li>
                    <h2 class="sidebar-heading">Components</h2>
                    <li class="sidenav-list active">
                        <a href="../components/alert/alert.html" class="sidenav-item active">Alerts</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/avatar/avatar.html" class="sidenav-item">Avatars</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/badge/badge.html" class="sidenav-item">Badges</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/button/button.html" class="sidenav-item">Buttons</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/card/card.html" class="sidenav-item">Cards</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/chips/chips.html" class="sidenav-item">Chips</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/image/image.html" class="sidenav-item">Image</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/input/input.html" class="sidenav-item">Input</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/lists/lists.html" class="sidenav-item">Lists</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/modal/modal.html" class="sidenav-item">Modal</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/navigation/navigation.html" class="sidenav-item">Navigation</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../components/rating/rating.html" class="sidenav-item">Rating</a>
                    </li>
                    
                </ul>
            </aside>

            <!-- HERO SECTION -->
            <div class="content-container">
                <div class="content">
                    <h3 class="heading3">Alerts</h3>
                    <p class="description">
                        An alert give a short, important message.
                    </p>
                    <h4 class="heading4">Default Alerts</h4>
                    <p class="description">
                        success alert, info alert, warning alert, error alert
                </div>
                  
                <div class="display-component">
                    <div class="alert-container flex-column-center">
                        <div class="alert alert-success">
                            
                            This is the success alert
                        </div>
                        <div class="alert alert-info">
                       
                            This is the info alert
                        </div>
                        <div class="alert alert-warning">
                            
                            This is the warning alert
                        </div>
                        <div class="alert alert-error">
                            
                            This is the error alert
                        </div>
                    </div>
                </div>

                <div class="code-snippet">
                    <pre>
                    	<code class="language-html highlight-code">
                    	&lt;div class="alert alert-success"&gt
                            This is the success alert
                        &lt;/div&gt
                        &lt;div class="alert alert-info">                        
                            This is the info alert
                        &lt;/div&gt
                        &lt;div class="alert alert-warning"&gt                          
                            This is the warning alert. Check this out!
                        &lt;/div&gt
                        &lt;div class="alert alert-error"&gt 
                            This is the error alert
                        &lt;/div&gt
                    		
                    	</code>
                    </pre>
                </div>
                
            
                <div class="content">
                    <h4 class="heading4">Filled Alerts</h4>
                </div>
                  
                <div class="display-component">
                    <div class="alert-container flex-column-center">
                        <div class="alert alert-success-filled">
                            This is the success alert
                        </div>
                        <div class="alert alert-info-filled">
                            This is the info alert
                        </div>
                        <div class="alert alert-warning-filled">
                            This is the warning alert
                        </div>
                        <div class="alert alert-error-filled">
                            This is the error alert
                        </div>
                    </div>
                </div>

                <div class="code-snippet">
                	<pre>
		            <code class="language-html highlight-code">
		            	&lt;div class="alert alert-success-filled"&gt
		                    This is the success alert
		               &lt;/div&gt
		               &lt;div class="alert alert-info-filled"&gt
		                    This is the info alert
		               &lt;/div&gt
		               &lt;div class="alert alert-warning-filled"&gt
		                    This is the warning alert. 
		               &lt;/div&gt
		               &lt;div class="alert alert-error-filled"&gt
		                    This is the error alert.
		               &lt;/div&gt
		            		
                    	</code>
                    </pre>
                    
                </div>
                
            </div>
        </div>

        <!-- FOOTER -->
        <footer class="footer-container flex-column-center">
            <p class="footer-header">
                
            </p>
            <ul>
                <li class="footer-item">
                    <a href="#" target="_blank">
                        <i class="fa fa-github footer-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="footer-item">
                    <a href="#" target="_blank">
                        <i class="fa fa-twitter footer-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="footer-item">
                    <a href="#" target="_blank">
                        <i class="fa fa-linkedin footer-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <p class="copywright">
                
            </p>
        </footer>
    </div>
</body>

</html>